{% extends 'base.html' %}

{% block content %}


<div class="bg-gradient-to-br from-gray-800 to-black">
<div class="text-gray-300 container mx-auto p-8 overflow-hidden md:rounded-lg md:p-10 lg:p-12">
    <div class="flex justify-between">
        <h1 class="font-serif text-3xl font-medium">Web Inventory Pro</h1>
        <a href="{% url 'users:register' %}"
            class="self-start px-3 py-2 leading-none text-gray-200 border border-gray-800 rounded-lg focus:outline-none focus:shadow-outline bg-gradient-to-b hover:from-indigo-500 from-gray-900 to-black">
            Empezar
        </a>
    </div>

    <div class="h-32 md:h-40"></div>

    <p class="font-sans text-4xl font-bold text-gray-200 max-w-5xl lg:text-7xl lg:pr-24 md:text-6xl">
        Es hora de dar el siguiente paso
    </p>
    <div class="h-10"></div>
    <p class="max-w-2xl font-serif text-xl text-gray-400 md:text-2xl">
        Imagínate tener una alternativa para poder guardar toda tu información de una forma más segura. Este sitio te 
        ayudará a llevar más fácil tus inventarios y ventas diarias. .
    </p>

    <div class="h-32 md:h-40"></div>

    <div class="grid gap-8 md:grid-cols-2">
        <div class="flex flex-col justify-center">
            <p
                class="self-start inline font-sans text-xl font-medium text-transparent bg-clip-text bg-gradient-to-br from-green-400 to-green-600">
                Simple y Fácil 
            </p>
            <h2 class="text-4xl font-bold">Hecho para empresas pequeñas y medianas</h2>
            <div class="h-6"></div>
            <p class="font-serif text-xl text-gray-400 md:pr-10">
                Pensamos perfectamente en cómo te sería más fácil adaptarte y 
                de esta forma así no notarás el cambio entre llevar tus 
                inventarios de una forma no tecnológica. 
            </p>
            <div class="h-8"></div>
            <div class="grid grid-cols-2 gap-4 pt-8 border-t border-gray-800">
                <div>
                    <p class="font-semibold text-gray-400">Perfecto para ti</p>
                    <div class="h-4"></div>
                    <p class="font-serif text-gray-400">
                        Si tu negocio aún no cuenta con una forma tecnológica de llevar sus ventas 
                        diarias e inventario general, es tu momento de probar algo nuevo. 
                    </p>
                </div>
                <div>
                    <p class="font-semibold text-gray-400">Es fácil de usar</p>
                    <div class="h-4"></div>
                    <p class="font-serif text-gray-400">
                        Proporciona una interfaz bastante simple e intuitiva para aquellos que no son expertos en la tecnología. 
                    </p>
                </div>
            </div>
        </div>
        <div>
            <div class="-mr-24 rounded-lg md:rounded-l-full bg-gradient-to-br from-gray-900 to-black h-96">
                <img src="https://images.pexels.com/photos/7947704/pexels-photo-7947704.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
            </div>
        </div>
    </div>

    <div class="h-32 md:h-40"></div>

    <p class="font-serif text-4xl">
        <span class="text-gray-400">Aceptaremos vuestras opiniones</span>

        <span class="text-gray-600"
      >, de esta manera será un éxito. Así construiremos algo bastante genial.</span>
    </p>

    <div class="h-32 md:h-40"></div>

    <div class="grid gap-4 md:grid-cols-3">
        <div class="flex-col p-8 py-16 rounded-lg shadow-2xl md:p-12 bg-gradient-to-br from-gray-900 to-black">
            <p
                class="flex items-center justify-center text-4xl font-semibold text-green-400 bg-green-800 rounded-full shadow-lg w-14 h-14">
                1
            </p>
            <div class="h-6"></div>
            <p class="font-serif text-3xl">Creado pensando en pequeñas y medianas empresas.</p>
        </div>
        <div class="flex-col p-8 py-16 rounded-lg shadow-2xl md:p-12 bg-gradient-to-b from-gray-900 to-black">
            <p
                class="flex items-center justify-center text-4xl font-semibold text-indigo-400 bg-indigo-800 rounded-full shadow-lg w-14 h-14">
                2
            </p>
            <div class="h-6"></div>
            <p class="font-serif text-3xl">
                Podrás ajustar tus inventarios a medida de tu negocio.
            </p>
        </div>
        <div class="flex-col p-8 py-16 rounded-lg shadow-2xl md:p-12 bg-gradient-to-bl from-gray-900 to-black">
            <p
                class="flex items-center justify-center text-4xl font-semibold text-teal-400 bg-teal-800 rounded-full shadow-lg w-14 h-14">
                3
            </p>
            <div class="h-6"></div>
            <p class="font-serif text-3xl">Disminución de errores y aumento de eficacia.</p>
        </div>
    </div>

    <div class="h-10 md:h-40"></div>

    <div class="grid gap-4 md:grid-cols-4">
        <ul class="space-y-1 text-gray-400">
            <li class="pb-4 font-serif text-gray-400">Redes Sociales</li>
            <li>
                <a href="#" class="hover:underline">Twitter</a>
            </li>
            <li>
                <a href="#" class="hover:underline">Linkedin</a>
            </li>
            <li>
                <a href="#" class="hover:underline">Facebook</a>
            </li>
        </ul>
        <ul class="space-y-1 text-gray-400">
            <li class="pb-4 font-serif text-gray-400">Ubicaciones</li>
            <li>
                <a href="#" class="hover:underline">Bogota</a>
            </li>
        </ul>
        <ul class="space-y-1 text-gray-400">
            <li class="pb-4 font-serif text-gray-400">Compañia</li>
            <li>
                <a href="#" class="hover:underline">Sobre Nosotros</a>
            </li>
            <li>
                <a href="#" class="hover:underline">Ayuda</a>
            </li>
        </ul>
        <ul class="space-y-1 text-gray-400">
            <li class="pb-4 font-serif text-gray-400">No esperes mas </li>
            <li>
                <a href="{% url 'users:register' %}"
                    class="self-start px-3 py-2 leading-none text-gray-200 border border-gray-800 rounded-lg focus:outline-none focus:shadow-outline bg-gradient-to-b hover:from-indigo-500 from-gray-900 to-black">
                    Empezar
                </a>
            </li>
        </ul>
    </div>
    <div class="h-12"></div>
</div>
</div>

{% endblock content %}