{% load static tailwind_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		
    <title>{% block title %}Bienvenidos Web Inventory Pro{% endblock title %}</title>

		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		{% tailwind_css %}
		<!--Alpine JS-->
		<script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.8.2/dist/alpine.min.js" defer></script>
	</head>

	<body>

		{% include 'components/messages.html' %}

		{% block content %}
        {% endblock content %}

		{% block script %}{% endblock script %}
	</body>
</html>
